{{> header_html}}

  <body>
    
    {{> top_navi}}
      
    {{#content.post}}
      {{#featured}}
      <!-- hero article container start -->
      <div class="featured-hero-container">
        <div class="hero-image-container" style="background-image: url({{image}})">
          <div class="hero-shades"></div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 hero-content">
                <h1 class="hero-title" id="heroTitle"><a class="hero-title">{{title}}</a></h1>
                <div class="content"><p>{{{excerpt}}}</p></div>
                <div class="content"><span class="author-avatar"><img src="{{avatar}}" width="24" height="24"></span> &middot; <span class="author-name">{{author}}</span> &middot; <span class="post-date">{{date}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- hero article container ends -->
      {{/featured}}

      {{#normal}}
      <div class="article-headline">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
              <h1>{{title}}</h1>
              {{#not_page}}
              <div class="content"><span class="author-avatar"><img src="{{avatar}}" width="24" height="24"></span> &middot; <span class="author-name">{{author}}</span> &middot; <span class="post-date">{{date}}</span></div>
              {{/not_page}}
            </div>
          </div>
        </div>
      </div>
      {{/normal}}

      <!-- body content container start -->
      <div class="body-content-container single-body {{#normal}}normal-post{{/normal}}">
        <div class="container">
          <div class="row">
            <article class="col-xs-12 col-sm-12 {{#featured}}col-md-9 col-md-offset-1 col-lg-9 col-lg-offset-1{{/featured}} {{#normal}}col-md-11 col-lg-10{{/normal}} single-post">
              
              {{{content}}}
            
            </article>
          </div>
        </div>
      </div><!-- body content container ends -->
    {{/content.post}}

    {{> footer.html}}

  </body>

  {{> scripts.html}}

</html>
